
[mat-toolbar-style]{
    height: 200px;
    width: 100%;
    justify-content: center;
}

[mat-main-table]{
    height: 200px;
    width: 100%;
    justify-content: center;
}

[mat-main-table-rows]{
    height: 50px;
    width: 100%;
    justify-content: center;
    background-color: #ffffff;
    border: 1px;
    border-color: #cccccc;
}

[mat-main-table-row-title]{
    height: 50px;
    width: 100%;
}

[font-title-header]{
    font-weight: bold;
    font-size: 50px;
}

[overed-btn-success]{
    display: block;
}

[icon-style]{
    size: 5px;
}

[story-row]{
    width: 65%
}
[author]{
    font-size: 12px;
    color: #999;
}